# Environments
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/
dist/
.env
.env.local

# ML Data & Models
backend/data/
# backend/models/gesture_classifier.keras

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
